<article class="listing">
  <img src="{{bar.image}}" alt="">
  <h3>{{bar.title}}</h3>
  <div class="detail location">
    <span>Location:</span> {{bar.location}}
  </div>
  <div class="detail going">
    <span>Going:</span> {{bar.going}}
  </div>
</article>
