<div class="container">
  <div class="menu">
    {{#link-to 'index'}}
      <h1>
        <em>tonightlife</em>
      </h1>
    {{/link-to}}
    <div class="links">
      {{#link-to 'about'}}
        About
      {{/link-to}}
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>
<div>
  <h4>Search powered by</h4><a href="https://www.yelp.com"><img src="https://s3-media3.fl.yelpcdn.com/assets/srv0/yelp_styleguide/21bc82aab542/assets/img/logos/logo_desktop_small.png"></a>
</div>
