<div class="jumbo">
  <h2>Welcome!</h2>
  <p>We hope you find exactly what you're looking for in a bar to visit.</p>
  {{#link-to 'about' class="button"}}
    About Us
  {{/link-to}}
</div>

{{#each model as |barUnit|}}
  {{bar-listing bar=barUnit}}
{{/each}}
{{outlet}}
