<div class="jumbo">
  <h2>Welcome!</h2>
  <p>We hope you find exactly what you're looking for in a bar to visit.</p>
  {{#link-to 'about' class="button"}}
    About Us
  {{/link-to}}
</div>

{{#each model as |bar|}}
  <article class="listing">
    <h3>{{bar.title}}</h3>
    <div class="detail location">
      <span>Location:</span> {{bar.location}}
    </div>
    <div class="detail going">
      <span>Going:</span> {{bar.going}}
    </div>
  </article>
{{/each}}
{{outlet}}
